#header, #content {
    position: relative;
    width: 70%;
    left: 15%;
}

#header {
    height: 100px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: whitesmoke;
    padding-top: 20px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content {
    text-align: center;
}

input, select {
    height: 25px;
    border-radius: 10px;
    border-style: none;
    width: 30%;
    margin-top: 5px;
    color: black;
}

label {
    margin-top: 5px;
}

@media only screen and (max-width: 1000px) {
    #header, #content {
        width: 90%;
        left: 5%;
    }

    #header {
        height: 200px;
        padding-top: 0px;
    }

    #header h1 {
        font-size: 60px;
    }

    #content {
        overflow-y: auto;
    }
    
    input, select {
        height: 100px;
        width: 90%;
        margin-top: 15px;
        font-size: 50px;
        border-radius: 20px;
    }

    label {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        height: 100px;
        padding-top: 0px;
    }

    #header h1 {
        font-size: 40px;
    }
    
    input, select {
        height: 50px;
        width: 90%;
        margin-top: 10px;
        font-size: 25px;
        border-radius: 10px;
    }

    label {
        margin-top: 10px;
    }
}