#header {
    width: 100%;
    position: relative;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-top: 20px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header h1 {
    position: relative;
    left: 17%;
}

#left, #right {
    padding-left: 15px;
}

#left {
    float: left;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 2px;
    padding-top: 20px;
    height: 500px;
    width: 15%;
}

#right {
    float: right;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 2px;
    padding-top: 20px;
    height: 500px;
    width: 10%;
}

#content {
    text-align: center;
    margin-top: 20px;
}

select, input, label {
    height: 25px;
    border-radius: 10px;
    border-style: none;
    width: 30%;
    margin-top: 5px;
}

#left select {
    width: 80%;
}

#logout, #main, #tutor, #delete {
    font-size: 20px;
    font-weight: 600;
}

table, td, th {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
    border-radius: 5px;
}

@media only scree and (min-width: 1001px) {
    table {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    #header {
        width: 90%;
        left: 5%;
    }

    #header {
        height: 200px;
        padding-top: 15px;
    }

    #header h1 {
        position: relative;
        left: 0px;
        font-size: 60px;
    }

    #left, #right, #content {
        padding-left: 0px;
        text-align: center;
    }

    #left, #right {
        float: none;
        border: hidden;
        padding-top: 0px;
        height: auto;
        width: auto;
    }

    select, input, label {
        height: 100px;
        width: 90%;
        margin-top: 15px;
        font-size: 50px;
        border-radius: 20px;
    }

    #logout, #main, #tutor, #delete {
        font-size: 50px;
        font-weight: 600;
    }

    ol {
        position: relative;
        width: 80%;
        left: 10%;
    }

    ol li {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        height: 100px;
        padding-top: 10px;
    }

    #header h1 {
        position: relative;
        left: 0px;
        font-size: 40px;
    }

    select, input, label {
        height: 50px;
        width: 90%;
        margin-top: 10px;
        font-size: 25px;
        border-radius: 10px;
    }

    #logout, #main, #tutor, #delete {
        font-size: 25px;
        font-weight: 600;
    }

    ol {
        position: relative;
        width: 80%;
        left: 10%;
    }
}