body {
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-color: rgba(17, 0, 255, 0.561);
    color: white;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 50px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 25px;
        overflow-y: auto;
    }
}